body {
	font-family: 'Arsenal', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 20px 50px 150px;
	font-size: 13px;
	text-align: left;
	background-image: url(../Images/nebula.png); /* Free nebula image from https://pixabay.com/en/nebula-space-science-fiction-1922570/ */
	background-size: 100% auto;
	background-attachment: fixed;
	color: white;
  }

#content {
	margin: auto;
	background: rgb(255, 255, 255);
	background:rgba(96,96,96,0.7);
	padding: 30px 5px 50px 5px;
	width: 70%;
	border-top: 5px solid grey;
	border-bottom: 5px solid grey;
	font-size: 16px;
 }
 
h1 {
	font-family: 'Copse', serif;
}
 
ul {
	text-align: left;
	display: inline;
	padding: 8px;
	list-style: none;
}

ul li {
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: black;
	cursor: pointer;
	border: none;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	transition: all 0.3s cubic-bezier(.05,-0.48,.86,1.28);  
}

ul li:hover {
	background: rgb(204, 204, 204);
	background: rgba(204, 204, 204, 0.5);
	opacity: 0.5;
	color: #fff;
}

ul li:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;
}

#content p {
	margin-left: 10px;
}
 
#content h1 {
	text-align: center;
}

img {
	border: 10px solid white;
}

#snake{
}